<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{currency.name}} Details</title>
     <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
     
</head>
 
<body>
 
    <div class="container">
        <div>
            <h1>{{currency.name}} Details</h1>
            
            <ul>
                <li>Price: {{currency_details.display_values.PRICE}}</li>
                <li>Market: {{currency_details.display_values.MARKET}}</li>
                <li>Last  Update: {{currency_details.display_values.LASTUPDATE}}</li>
                <li>Last Volume: {{currency_details.display_values.LASTVOLUME}}</li>
                <li>Last Volume to: {{currency_details.display_values.LASTVOLUMETO}}</li>
                <li>Volume Day: {{currency_details.display_values.VOLUMEDAY}}</li>
                <li>Volume Day to: {{currency_details.display_values.VOLUMEDAYTO}}</li>
                <li>Volume 24 Hour: {{currency_details.display_values.VOLUME24HOUR}}</li>
                <li>Volume 24 Hour to: {{currency_details.display_values.VOLUME24HOURTO}}</li>
                <li>Open Day: {{currency_details.display_values.OPENDAY}}</li>
                <li>High Day: {{currency_details.display_values.HIGHDAY}}</li>
                <li>Low Day: {{currency_details.display_values.LOWDAY}}</li>
                <li>Open 24 Hour: {{currency_details.display_values.OPEN24HOUR}}</li>
                <li>High 24 Hour: {{currency_details.display_values.HIGH24HOUR}}</li>
                <li>Low 24 Hour: {{currency_details.display_values.LOW24HOUR}}</li>
                <li>Change 24 Hour: {{currency_details.display_values.CHANGE24HOUR}}</li>
                <li>Change Day: {{currency_details.display_values.CHANGEDAY}}</li>
                <li>Suppy: {{currency_details.display_values.SUPPLY}}</li>
                <li>Market Cap: {{currency_details.display_values.MKTCAP}}</li>
                <li>Total Colume 24 Hour: {{currency_details.display_values.TOTALVOLUME24H}}</li>
                <li>Total Volume 24 Hour to: {{currency_details.display_values.TOTALVOLUME24HTO}}</li>
            </ul>
        </div>
        
        <div>
        <button id="btn_graph" type="button">Graph</button>
        <button id="btn_history" type="button">History</button>
        <button id="btn_social" type="button">Social</button>
        <button id="btn_market" type="button">market</button>
        <button id="btn_prediction" type="button">Prediction</button>
        <button id="btn_calculate" type="button">Calculate</button>
        </div>
        
    </div>
    
         
     </script>
</body>
</html>
